<header class="intro-header" style="background-image: url('../assets/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Blog</h1>
                    <hr class="small">
                    <span class="subheading">Theme von Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% @posts.each do |post| %>
      <div class="post-preview">
        <h2 class="post-title"><%= link_to post.title, post %></h2>
        <p class="post-subtitle"><%= post.content.html_safe %></p>
        <% if user_signed_in? %>
          <p><%= link_to "bearbeiten", edit_post_path(post) %> | 
          <%= link_to "löschen", post, :data => {:confirm => "Bist du sicher?"}, :method => :delete %></p>
        <% end %>
      <% end %>
      </div>
      <hr>
      <%= will_paginate @posts, :previous_label => t("zurück"), :next_label => t("vor"), renderer: BootstrapPagination::Rails, class: 'pagination-sm' %>

    </div>
  </div>
</div>